body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #FFFBD0;
  }

  .room-info {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .room-info .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .room-info .room {
    width: calc(33.33% - 20px); /* 3 months per row */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
  }

  h1{
      text-align: center;
  }